*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.flip-clock-dot
{
    background: #ccc;
}
.flip-clock-meridium a
{
    color: #ccc;
}

.clock
{
    width: auto;
}